  :root {
  --main-color-white:#ffffff;
  --main-color-text:#111517;
  --main-card-color-dark:#2B3844;
  }
/* nunito-sans-300 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/nunito-sans-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-sans-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-sans-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-sans-800 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/nunito-sans-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-sans-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Nunito Sans' ,sans-serif ;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;  
}
.header { 
  background-color: var(--main-color-white);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.header-inner .title {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: var(--main-color-text);
  margin: 0;
}
.black {
  --main-color-white:#2B3844;
--main-color-text:#ffffff;
--main-card-color-dark:#111517;
background-color: #202C36;
}
.black  .input::before {
 background-image: url("../images/icon-search-white.svg");
}
.black  .selects::before {
background-image: url("../images/Shapewhite.svg");
}
.header-inner .btn {
  background-color:transparent ;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-color-text);
  border: 0;
  display: flex;
  align-items: center;
}
.header-inner .btn::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("../images/month.svg");
  margin-right: 10px;

}

 input {
 width: 100%;
  padding: 18px 18px 18px 74px;
  border: 0;
  background-color:var(--main-color-white) ;
}
.input { 
  max-width: 480px;
  margin-top: 48px;
  margin-bottom: 48px;
position: relative;
}
.input::before {
content: "";
width: 18px;
height: 18px;
display: block;
position: absolute;
top: 18px;
left: 25px;
background-image: url("../images/search.svg");
background-repeat: no-repeat;
}
 input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--main-color-text);
}
.select {
color: var(--main-color-text);
width: 100%;
  padding: 18px 24px;
  background-color: var(--main-color-white);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  appearance: none;
  outline: none;
}
.selects:hover::before {
  transform: rotate(180deg);
}
 .selects {
  margin-left: auto;
  max-width: 200px;
  margin-top: 48px;
  margin-bottom: 48px;
position: relative;
}
.selects::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("../images/Shape.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 20px;
  top: 18px;
}
 .select option {
height: 20px;
border: 0;
color: var(--main-color-text);
font-weight: 400;
font-size: 14px;
line-height: 20px;
background-color: var(--main-color-text);
box-shadow: 0px 2px 9px #0000000e;
border-radius: 5px;
}

.flag-item {
  margin: 0 auto ;
  width: 264px;
  background-color: var(--main-color-white);
  margin-top: 27px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
border-radius: 5px;
}
.ftag-item-top img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ftag-item-bottom {
  padding: 24px;
}

 .title {
   font-weight: 800;
   font-size: 18px;
   line-height: 26px;
   color: var(--main-color-text);
  }
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--main-color-text);
  }
.text span {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: var(--main-color-text);
  }

.margens {
  margin-bottom: 50px;
}
  .col-card {
    margin: 4% 0;
  }
  .img {
    width: 560px;
height: 401px;
box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.0294384);
border-radius: 10.0057px;
  }

  .card-title {
    font-weight: 800;
font-size: 32px;
line-height: 44px;
color:  var(--main-color-text);
  }
  .list {
    max-width: 574px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 24px 0 68px 0;
    padding: 0;
  }
  .list-item {
    width: 200px;
  }
  .list-item:last-child {
    width: 260px;
  }
  .list-item p {
    font-weight: 600;
font-size: 16px;
line-height: 32px;
color: var(--main-color-text);
  }
  .list-item p span {
    font-weight: 400;
  }
  .btn-groups {
    display: flex;
    align-items: center;
  }
  .btn-groups span {
    font-weight: 600;
font-size: 16px;
line-height: 24px;
color:var(--main-color-text);
  }
  .btn {
    background:  var(--main-color-white);
box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
border-radius: 2px;
margin-left: 10px;
font-weight: 300;
font-size: 14px;
line-height: 19px;
color: var(--main-color-text);

  }
.btn:hover {
  color: var(--main-color-text);
}
.margen {
  margin-top: 80px;
}
.btn-back {
  margin-top: 80px;
  background-color: var(--main-color-white);
border-radius: 6px;
padding: 10px 39px;
display:inline-block;
color: var(--main-color-text);
}
.btn-back .bi {
  margin-right: 10px;
}
@media only screen and (max-width:1199px) {
  .img-group {
  display: flex;
  justify-content: center;
  }
  .cols{
  display: flex;
  justify-content: center;
  }
}
@media only screen and (max-width:768px) {
  .selects {
    margin-top: 40px;
    margin-bottom: 32px;
  }
  .input { 
    margin-top: 24px;
    margin-bottom: 0px;
  }
  .img-group .img {
    width:100% ;
    height: auto;
    }
    .cols{
    display: flex;
    justify-content: center;
    }
    .list {
      flex-direction: column;
    }
    .btn-groups {
      align-items: start;
      flex-direction: column;
    }
    .button {
      margin-top: 16px;
    }
    .btn:nth-child(1) {
      margin-left: 0;
    }
}